body{
    font-family: Verdana, Arial, sans-serif;
}
#wiecej_porankow a{
    font-size: 11px; 
    text-decoration: none;
}
#wiecej_porankow {
    padding-bottom: 3px;

    display: inline-block;
}
#aktualna_godzina
{
    font-weight: bold;
    width: 60px;
    float: left;
}
#elem_0 {
    float:left;
    background-image: url("../img/media-playback-start.png");
    cursor: pointer;		    	    
    background-repeat: no-repeat;
    height: 50px;		    
    width: 32px;		    
    float: left;
    margin-right: 7px;

}
#button_play {
    float:left;
    background-image: url("../img/media-playback-start.png");
    cursor: pointer;		    	    
    height: 32px;		    
    width: 32px;		    
    margin-right: 7px;
}
#button_pause {
    float:left;
    background-image: url("../img/media-playback-pause.png");
    cursor: pointer;		    	    
    height: 32px;		    
    width: 32px;		    
    margin-right: 7px;
}
#button_stop {
    float:left;
    background-image: url("../img/media-playback-stop.png");

    cursor: pointer;		    	    
    height: 32px;		    
    width: 32px;		    
}



#player_header_current {
    float:left;
    font-size: 15px !important;
    font-weight: bold !important;
    width: 230px;
    margin-bottom: 10px;


}
#player_header_next {
    float:left;
    font-size: 13px !important;
    font-weight: bold !important;
    width: 280px;

}
#playLista{
    display: inline-block;
}
.button_play_list {
    float:left;
    background-image: url("../img/media-playback-start.png");
    background-repeat: no-repeat;
    cursor: pointer;		    	    
    height: 32px;		    
    width: 32px;	
    padding-right: 3px;
}
.playListElement{
    width: 280px;
    height:  auto;
    display: inline-block;
    padding: 3px 0px 3px 3px;     
}

.playListElement a{
    font-weight: bold;
    text-decoration: none;
}

.element_a
{
    float:left; width:240px;
}

#panel_player
{
    display:inline-block ;height:  auto;border: 2px solid silver; width: 280px; margin-top: 10px; text-align: center; padding: 5px 5px 10px 5px;

}
#current_title{
    text-align: left;
    padding: 5px 5px 5px 0px;
    font-weight: bold;
    border: 0px solid red;
}

#current_autor{
    text-align: left;
    border: 0px solid red;
    cursor: pointer;
    width: 200px;
    margin-left: 60px;
}

#current_logo{
    border: 0px solid red;
    width: 55px;
    float: left; 
    padding-right: 3px;
    cursor: pointer;
    padding-bottom: 5px;
}

#volume_panel {
    cursor: pointer;		    	    
    width: 157px;
    height: auto;
    position: relative;
    display: inline-block;
    margin-top: -10px;

}
#seek_panel {
    cursor: pointer;		    	    
    width: 170px;
    height: auto;
    position: relative;
    margin-top: 10px;

}
#master{ border-width: 1px;
         border-style: solid;
         border-color: #333 #333 #777 #333;
         border-radius: 25px;
         width: 160px;
         position: absolute;
         height: 13px;
         background-color: #8e8d8d;
         background: url('../img/bg-track.png') repeat top left;
         box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
             0 1px 0 0px rgba(250, 250, 250, .5);
         left: 5px;

}



#master .ui-slider-range
{
    background:  #ff910e !important;
}
#from-to{
    display: inline-block; position: relative; width:100px; margin-left: 173px;
    font-size:90%;
    text-align: right;
    color:#555 ;
}

#panel_etery {
    width: 130px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 470px;
    float: right;
    text-align: left;
}


.ether_element{
    display: inline-block;
    padding: 7px 0px 7px 0px;
    border-bottom: 1px solid silver;
    width: 95%;

}

.ether_element a {
    padding-top: 10px;
    text-decoration: none;
    font-weight: bold;
}


#panel_lista{
    margin-top: 10px;
    height: auto;
}

#footer
{
    width: 290px;
    border-bottom:  1px solid #ff910e;
    margin-top: 5px;

}
#footer #options
{
    text-align: left;
    width: 220px;
    float: left;
    text-decoration: none;

}
#footer #options a
{

    text-decoration: none;
    font-weight: bold;
    font-size: smaller;
}
#footer #version
{

    text-align: right;
    float: left;
    width: 67px;
    font-weight: bold;
    font-size: smaller;
}


#eter
{
    display: inline-block;
    padding-top:5px;
    border-bottom:  1px solid #ff910e;
    width: 280px;
    height: 35px;

}


.playListElement_img:hover
{
    background-color: #ffdb9c;
}
.ether_element:hover{
    background-color: #ffdb9c;
}